* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Inconsolata Bold";
	src: url("../../../../projects/Fonts/Inconsolata/Inconsolata-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Inconsolata Regular";
	src: url("../../../../projects/Fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
}

a:hover {
	opacity: 0.85;
	cursor: pointer;
}

form {
	padding: 1.5rem;
}

h2 {
	font-family: "Inconsolata Bold";
	margin: 0.5rem auto 1rem;
	text-align: center;
  font-size: 2.25rem;
  text-shadow: 0.05rem 0.15rem 0.25rem #a0a0a0, 0.1rem 0.2rem #7b7b7b, 0.15rem 0.25rem 0.15rem #353535;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
	padding: 0.5rem 0;
	border-bottom: 0.25rem groove white;
	position: absolute;
}

header {
	position: relative;
	min-height: 7rem;
  max-width: 80%;
  margin: 2% auto;
  text-align: center;
}

header > p {
	position: absolute;
	bottom: 0;
}

p {
	font-family: "Inconsolata Regular";
	margin: 0 auto;
	font-size: 0.925rem;
	color: white;
}

input {
	color: white;
	font-family: "Inconsolata Regular";
	float: right;
	width: 70%;
	padding: 0.5rem 0.75rem;
	background-color: transparent;
	border: 0.05rem solid white;
	border-radius: 0.25rem;
}

input::placeholder {
	color: white;
	letter-spacing: 0.25rem;
}

input + label {
	font-family: "Inconsolata Regular";
	float: left;
	color: white;
	margin-left: 1rem;
	margin-right: 1rem;
	position: absolute;
	top: -1rem;
  left: 0.5rem;
	text-shadow: 0.05rem 0.05rem 0.5rem grey;	
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
}

input[type="submit"] {
	transition: 0.25s ease-in-out;
}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: #666;
}

fieldset {
	border: 0;
}

.clearfix {
	zoom: 1; /*IE 6/7*/
}

.clearfix:after {
	clear: both;
}

.clearfix:after,
.clearfix:before { 
 content: "";  
 display: table;
}

.container {
	margin-top: 25%;
	transform: translateY(-25%);
  padding: 2rem;
}

.description {
	color: white;
	font-family: "Inconsolata Regular";
	font-size: 0.95rem;
  opacity: 0.85;
  position: absolute;
  left: -1rem;
  top: 1rem;
  padding: 0.5rem;
  background: grey;
  height: 4rem;
  width: 5.5rem;
}

.description:hover {
	cursor: pointer;
	opacity: 1;
}

.fa-close {
	position: absolute;
	color: white;
  top: 0.325rem;
  left: 0.55rem;
  font-size: 1.25rem;
}

.top-left {
  top: -1.5rem;
  left: -3.5rem;
}

.top-right {
	top: -1.5rem;
	right: -3.5rem;
}

.bottom-left {
	bottom: 0.5rem;
  left: 0.75rem;
}

.bottom-right {
	bottom: 0.5rem;
  right: 0.75rem;
}

.loginForm {
	position: relative;
	background: linear-gradient(145deg, black 0%, #484848 50%, black 100%);
	max-width: 30rem;
	margin: auto;
	max-height: 40rem;
	border-radius: 0.25rem;
}

.screwIcon {
	position: absolute;
	padding: 1rem;
	border-radius: 50%;
	border: 0.15rem solid white;
	opacity: 0.85;
}

.submitSection {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.submitSection a {
	position: absolute;
	bottom: 0;
	color: white;
	font-family: "Inconsolata Regular";
}

.sectionInput {
	margin: 3rem auto 0;
	padding: 0.5rem;
	position: relative;
}

.submitLoginForm {
	position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 7.5rem;
  padding: 0.25rem 1.25rem;
  font-family: "Inconsolata Regular";
  color: white;
  font-size: 1.5rem;
  height: 3rem;
  border-radius: 0.25rem;
  background: transparent;
  border: 0.05rem solid white;
}

